.app {
  background: transparent linear-gradient(158deg, #ffffff8c 0%, #ffffffbf 100%)
    0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 0.9;
}

body {
  background: transparent
    linear-gradient(
      229deg,
      var(--unnamed-color-57d18c) 0%,
      var(--unnamed-color-39524f) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(229deg, #57d18c 0%, #39524f 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #707070;
}

.Signup-info-text {
  display: inline-block;
}
.signup-input {
}

.register-field {
}
.navi-bar {
  width: 1820px;
  height: 62px;
  background: #ffffffbf 0% 0% no-repeat padding-box;
  opacity: 1;
}
input {
  width: 343px;
  height: 40px;
  background: #ffffffa6 0% 0% no-repeat padding-box;
  border-radius: 26px;
  text-align: center;
}

button {
  width: 165px;
  height: 48px;
  background: var(--unnamed-color-39524f) 0% 0% no-repeat padding-box;
  background: #39524f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    22px / var(--unnamed-line-spacing-30) var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  font: normal normal 600 22px/30px Segoe UI;
  color: #ffffff;
}
h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-34) / var(--unnamed-line-spacing-46)
    var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-39524f);
  font: normal normal bold 34px/46px Segoe UI;
  color: #39524f;
}

div {
  text-align: center;
}

.login-screen-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    22px / var(--unnamed-line-spacing-50) var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-39524f);
  text-align: right;
  font: normal normal 600 22px/50px Segoe UI;
  color: #39524f;
  text-align: center;
}

.Signup-info-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-50)
    var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-39524f);
  font: normal normal 600 24px/50px Segoe UI;
  color: #39524f;
}
#here-word-box {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    22px / var(--unnamed-line-spacing-50) var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-39524f);
  text-align: right;
  font: normal normal 600 22px/50px Segoe UI;
  color: #39524f;
  text-align: center;
  text-shadow: 0px 3px 6px #00000040;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#goole-login-button {
  top: 718px;
  left: 850px;
  width: 220px;
  height: 48px;
  display: inline-block;
  white-space: nowrap;
}

.logo-bar {
  text-align: left;
}

#google-login-text {
  display: inline-block;
}

.check-box {
  display: inline-block;
}
.check-box-text {
  display: inline-block;
}

.change-profile-img {
  display: none;
}

.custom-file-upload {
  top: 297px;
  left: 904px;
  width: 40px;
  height: 40px;
  background: url("https://i.ibb.co/NxfvYQF/editimg.png") no-repeat;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 3px 22px #00000094;
}

.empty-btn {
  background-color: rgb(181, 205, 194);
  border: 3px solid var(--unnamed-color-39524f);
  border: 3px solid #39524f;
  border-radius: 10px;
  opacity: 1;
}

.volunteer-btn {
  width: 205px;
}
